<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.easyhouse24.javatuturapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"
 />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Program_7_Activity"
            android:theme="@style/AppThemeNo"/>
        <activity
            android:name=".WebActivity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StructuralActivity"
            android:theme="@style/AppThemeNo" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".HelpActivity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Program_6_Activity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Program_4_Activity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Program_3_Activity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Program_5_Activity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Program_2_Activity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Program_1_Activity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ProgramsActivity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".TutorialActivity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppThemeNo" />
        <activity android:name=".MainActivity" />

        <service android:name=".MusicService" />

        <activity
            android:name=".QuizActivity"
            android:theme="@style/AppThemeNo" />
    </application>

</manifest>